.files-navbar-component {
    min-width: 80vw;
    max-width: 90vw;
    display: flex;
    background-color: rgb(73, 73, 73);
    color: white;
    border-radius: 4px;
    margin: 2px 2px 20px;
    /* align-items: center; */
    justify-content: space-between;
    text-align: center;
}

.files-navbar-component .back-button {
    margin: 2px;
    color: white;
    cursor: pointer;
    flex-basis: 15%;
    max-width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
}
.files-navbar-component .back-button:hover {
    background-color: rgb(129, 129, 129);
    opacity: 0.9;
}

.files-navbar-component .upload-button {
    margin: 2px;
    color: white;
    cursor: pointer;
    flex-basis: 15%;
    max-width: 15%;

    min-height: 100%;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
}

.files-navbar-component .upload-button:hover {
    background-color: rgb(129, 129, 129);
    opacity: 0.9;
}

.files-navbar-component .upload-button label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.files-navbar-component .upload-button label span {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.files-navbar-component .upload-button * {
    cursor: pointer;
}

.files-navbar-component .current-path {
    border-radius: 8px;
    flex-basis: 70%;
}

.files-navbar-component .current-path:hover{
    background-color: rgb(129, 129, 129);
}
