.recent-bar {
    bottom: 0;
    left: 0;
    right: 0;

    background-color: black;

    width: 100vw;
    text-align: center;

    font-size: 24px;
    display: flex;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.recent-bar button {
    border: none;
    outline: 0;
    cursor: pointer;
}

.recent-bar a,
.recent-bar button {
    background-color: black;
    text-decoration: none;
    color: white;
    flex-basis: 25%;
    align-items: center;
    justify-content: space-between;
}
.recent-bar a:active,
.recent-bar button:active {
    background-color: white;
    color: black;
}

@media (orientation: portrait) and (max-width: 375px) {
    .recent-bar {
        font-size: 24px;
    }
}
@media (orientation: portrait) and (min-width:768px) {
    .recent-bar {
        font-size: 28px;
    }
}
@media (orientation: portrait) and (min-width:1024px) {
    .recent-bar {
        font-size: 34px;
    }
}
@media (orientation: landscape) and (min-width:1024px) {
    .recent-bar {
        font-size: 32px;
    }
}
@media (orientation: landscape) and (min-width:1366px) {
    .recent-bar {
        font-size: 42px;
    }
}
@media (orientation: landscape) and (min-width:1500px) {
    .recent-bar {
        font-size: 28px;
    }
}
