@import url( 'https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 100vw;
    height: 100vh;
}

.App .viewport {
    /* flex-basis: 95%; */
    flex-grow: 2;
    overflow-y: auto;
}

/* scrollbar styles */
.App .viewport::-webkit-scrollbar {
    width: 4px;
    background-color: whitesmoke;
}

.App .viewport::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 4px;
}
/* scrollbar styles */