.list-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border:2px solid red; */
}

.list-container .links {
    flex-grow: 3;
    background-color: whitesmoke;
    width: 100vw;  

    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.list-container .links a {
    flex-basis: 20%;
    font-size: 20px;
    height: 15vh;
    text-decoration: none;
    background-color: darkgray;
    color: white;
    margin: 8px;
    text-align: center;
}
.list-container .links a:hover {
    background-color: grey;
    color:azure;
}
.list-container .links a:focus {
    color: black;
}
