.recent-apps {
    min-width: 99vw;
    max-width: 100vh;
    min-height: 100%;
    background-color: rgb(255, 112, 112);
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.recent-apps .links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow-y: scroll; */
    min-height: 140vh;
}

.recent-apps .links div {
    /* flex-basis: 30vh; */
    height: 45vh;
    min-width: 80vw;
    text-decoration: none;
    background-color: white;

    margin-top: 10px;
    margin-bottom: 10px;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    animation: come-up 0.35s ease-in-out forwards;
}

.recent-apps .links div a {
    font-size: 20px;
    width: 80%;

}
.recent-apps .links div:hover {
    background-color: whitesmoke;
}
