.recent-bar {
    /* display: flex;
    position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;

    background-color: black;

    width: 100vw;
    text-align: center;

    font-size: 24px;
    display: flex;
    justify-content: center;
}

.recent-bar div {
    display: flex;
    align-items: flex-end;
}

.recent-bar div button {
    height: 100%;
    border: none;
}

.recent-bar div a,
.recent-bar div button {
    background-color: black;
    text-decoration: none;
    color: white;
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px;

}
.recent-bar div a:hover,
.recent-bar div button:hover {
    background-color: rgb(207, 207, 207);
    color: black;
}

/* .recent-bar-container div a:active,
.recent-bar-container div button:active {
    background-color: rgb(207, 207, 207);
    color: black;
} */
