.calculator-container {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    align-items: center;
    height: 100%;
    background-color: black;
    animation: scale-up 0.2s ease-out forwards;
}