.calculator-container {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    align-items: center;
    height: 100%;
    background-color: black;
    animation: app-launch 0.35s ease-out forwards;
}