.notes-component {
    display: flex;
    flex-direction: column;
    background-color: #7afcff;
    max-width: 100vw;
    min-height: 100%;
    align-items: center;
}

.cards-container {
    animation: come-up 0.2s ease-out forwards;
    margin-top: 1rem;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.notes-component .cards-column {
    flex-basis: 40%;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem;
}

.notes-component .card {
    display: flex;
    border-radius: 8px;
    border: 4px solid#fcf126;
    background-color: #feff9c;
    box-shadow: 0 -8px #fff201;
    animation: fade-in 0.3s ease-in forwards;
    flex-basis: 40%;
    width: 40vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-height: 15vh;
}
.notes-component .card:hover {
    opacity: 0.9;
}

.notes-component .card .note {
    overflow: hidden;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    min-height: 5vh;
    max-height: 60vh;
    background-color: #feff9c;
    color: #383500;
    outline: none;
    resize: none;
    border: none;
    flex-basis: 90%;
    width: 100%;
    word-wrap: break-word;
    cursor: pointer;
}

.notes-component .delete-button {
    flex-basis: 10%;
    width: 100%;
    align-self: flex-start;
    /* margin: 4px; */
    background-color: rgb(65, 65, 65);
    border: none;
    outline: none;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}
.notes-component .delete-button:hover {
    background-color: black;
}
.notes-component .delete-button:active {
    background-color: black;
}

.notes-component .new-note {
    min-width: 40vw;
    outline: none;
    background-color: #16fbff;
    color: white;
    border: none;
    font-size: 30px;
    opacity: 1;
    cursor: pointer;
}
.notes-component .new-note:hover {
    opacity: 0.5;
}
.notes-component .new-note:active {
    opacity: 0.5;
}

@media (orientation: portrait) and (max-width: 375px) {
    .notes-component .card .note {
        font-size: 16px;
    }
    .notes-component .delete-button {
        font-size: 18px;
    }
    .notes-component .new-note {
        font-size: 30px;
    }
}

@media (orientation: portrait) and (min-width:768px) {
    .notes-component .card .note {
        font-size: 24px;
    }
    .notes-component .delete-button {
        font-size: 24px;
    }
    .notes-component .new-note {
        font-size: 40px;
    }
}

@media (orientation: portrait) and (min-width:1024px) {
    .notes-component .card .note {
        font-size: 28px;
    }
    .notes-component .delete-button {
        font-size: 30px;
    }
    .notes-component .new-note {
        font-size: 48px;
    }
}
@media (orientation: landscape) and (min-width:1024px) {
    .notes-component .card .note {
        font-size: 28px;
    }
    .notes-component .delete-button {
        font-size: 26px;
    }
    .notes-component .new-note {
        font-size: 44px;
    }
}
@media (orientation: landscape) and (min-width:1366px) {
    .notes-component .card .note {
        font-size: 36px;
    }
    .notes-component .delete-button {
        font-size: 36px;
    }
    .notes-component .new-note {
        font-size: 58px;
    }
}
@media (orientation: landscape) and (min-width:1500px) {
    .notes-component .card .note {
        font-size: 18px;
    }
    .notes-component .delete-button {
        font-size: 20px;
    }
    .notes-component .new-note {
        font-size: 32px;
    }
}
