.notes-container {
    display: flex;
    flex-direction: column;

    max-width: 100vw;
    min-height: 90vh;
    align-items: center;
    margin: 20px;
    animation: app-launch 0.25s ease-in-out forwards;
}

.notes-container textarea {
    min-width: 70vw;
    min-height: 40vh;
    margin: 1rem;
}
