.note-page-component {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7afcff;
    animation: app-launch 0.25s ease-in-out forwards;
}

.note-page-component .card {
    display: flex;
    border-radius: 8px;
    border: 4px solid#fcf126;
    background-color: #feff9c;
    box-shadow: 0 -8px #fff201;
    width: 90vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.note-page-component .card .note {
    min-height: 80vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    background-color: #feff9c;
    color: #383500;
    outline: none;
    resize: none;
    word-wrap: break-word;
    flex-basis: 90%;
    border:none;
}

.note-page-component .card .delete-button {
    flex-basis: 5%;
    align-self: flex-start;
    min-height: 5vh;
    border: none;
    background-color: black;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
}
