.diaries-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.diaries-list div h2 {
    min-width: 20vw;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}
