.list-container {
    width: 100vw;
    min-height: 100%;

    background: url('http://getwallpapers.com/wallpaper/full/d/8/0/74347.jpg');
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    animation: scale-down 0.2s forwards ease-in;
}

.list-container .links .icon {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 20px;
    border: 1px solid transparent;
}

.list-container .links {
    flex-grow: 3;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.list-container .links a {
    flex-basis: 20%;
    max-width: 20%;
    min-height: 10vh;
    text-decoration: none;
    text-align: center;
}
.list-container .links .icon:hover {
    border: 1px solid rgba(0, 0, 0, 0.288);
    background-color: rgba(0, 0, 0, 0.041);
    border-radius: 4px;
}
.list-container .links .icon:active {
    border: 1px solid rgba(0, 0, 0, 0.288);
    background-color: rgba(0, 0, 0, 0.041);
    border-radius: 4px;
}
@media (orientation: portrait) and (max-width: 375px) {
    .list-container .links {
        /* justify-content: flex-start; */
    }
    .list-container .links a {
        flex-basis: 30%;
        max-width: 30%;
    }
    .list-container .links .icon {
        font-size: 22px;
    }
}
@media (orientation: portrait) and (min-width:768px) {
    .list-container .links a {
        font-size: 28px;
    }
}
@media (orientation: portrait) and (min-width:1024px) {
    .list-container .links a {
        font-size: 34px;
    }
}
@media (orientation: landscape) and (min-width:1024px) {
    .list-container .links a {
        font-size: 28px;
    }
}
@media (orientation: landscape) and (min-width:1366px) {
    .list-container .links a {
        font-size: 42px;
    }
}
@media (orientation: landscape) and (min-width:1500px) {
    .list-container .links {
        /* flex-direction: column; */
    }
    .list-container .links {
        align-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
    }

    .list-container .links a {
        flex-basis: 10%;
        max-width: 10%;
    }

    .list-container .links .icon {
        font-size: 20px;
    }
}
