.list-container {
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    animation: scale-down 0.2s forwards ease-in-out;
}

.list-container .links {
    flex-grow: 3;
    width: 100vw;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
}

.list-container .links a {
    flex-basis: 30%;
    min-width: 25vw;
    font-size: 20px;
    height: 15vh;
    text-decoration: none;
    background-color: black;
    border-radius: 10px;
    color: white;
    margin: 4px;
    text-align: center;
}
.list-container .links a:hover {
    background-color: rgb(61, 61, 61);
    color: azure;
}
.list-container .links a:focus {
    color: black;
    color: azure;
}


