.list-container {
    width: 100vw;
    min-height: 100%;

    background: #396afc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    flex-direction: column;
    align-items: center;
    animation: scale-down 0.2s forwards ease-in;
}

.list-container .links {
    flex-grow: 3;

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.list-container .links a {
    flex-basis: 20%;
    max-width: 20%;

    min-height: 10vh;
    text-decoration: none;
    background-color: black;
    border-radius: 8px;
    color: white;
    margin: 4px;
    text-align: center;
}
.list-container .links a:hover {
    opacity: 0.7;
    color: white;
}
.list-container .links a:active {
    background-color: rgb(61, 61, 61);
    color: azure;
}
@media (orientation: portrait) and (max-width: 375px) {
    .list-container .links {
        justify-content: flex-start;
    }
    .list-container .links a {
        flex-basis: 30%;
        max-width: 30%;
        font-size: 20px;
    }
}
@media (orientation: portrait) and (min-width:768px) {
    .list-container .links a {
        font-size: 28px;
    }
}
@media (orientation: portrait) and (min-width:1024px) {
    .list-container .links a {
        font-size: 34px;
    }
}
@media (orientation: landscape) and (min-width:1024px) {
    .list-container .links a {
        font-size: 28px;
    }
}
@media (orientation: landscape) and (min-width:1366px) {
    .list-container .links a {
        font-size: 42px;
    }
}
@media (orientation: landscape) and (min-width:1500px) {
    .list-container .links a {
        font-size: 28px;
    }
}
