body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: whitesmoke;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(187, 187, 187);
    border-radius: 8px;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 100vw;
    height: 100vh;
}

.viewport{
    height: 95vh;
}