.list-container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.list-container .time-and-date {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
}

.list-container .links {
    flex-grow: 3;
    background-color: whitesmoke;
    width: 100vw;
    /* min-height: 80vh;
    max-height: 100vh; */

    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.list-container .links a {
    flex-basis: 20%;
    font-size: 20px;
    height: 15vh;
    text-decoration: none;
    background-color: white;
    margin: 8px;
    text-align: center;
}
.list-container .links a:hover {
    background-color: whitesmoke;
}
.list-container .links a:focus {
    color: black;
}
