.recent-bar-container {
    position: fixed;
    bottom: 0;

    background-color: rgba(0, 0, 0);

    width: 100%;
    text-align: center;
}

.recent-bar-container div {
    display: flex;
    align-items: flex-end;
}

.recent-bar-container div button {
    height: 100%;
    border: none;
}

.recent-bar-container div a,
.recent-bar-container div button {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 8px;
}
.recent-bar-container div a:hover,
.recent-bar-container div button:hover {
    background-color: rgb(207, 207, 207);
    color: black;
}
.recent-bar-container div a:active,
.recent-bar-container div button:hover {
    background-color: rgb(207, 207, 207);
    color: black;
}
