.recent-apps-contaienr {
    display: flex;
    width: 100%;
    align-items: center;

    height: 100vh;
}

.recent-apps-contaienr .links {
    border-radius: 8px;
    background-color: rgb(255, 99, 82);

    width: 100vw;
    margin: 8px;

    min-height: 80vh;
    max-height: 100vh;
    display: flex;
}

.recent-apps-contaienr .links .running-app {
    flex-basis: 25%;
    height: 10vh;
    text-decoration: none;
    background-color: white;
    margin: 8px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.recent-apps-contaienr .links .running-app a {
    flex-grow: 2;
    font-size: 20px;
    height: 100%;
    align-self: center;
}
.recent-apps-contaienr .links a:hover {
    background-color: whitesmoke;
}
