.diaries-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    animation: app-launch 0.25s ease-in-out forwards;
}

.diaries-list div h2 {
    min-width: 20vw;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    /* animation: come-up 0.5s ease-in-out forwards; */
}
